<template>
  <v-app>
      <v-content>
          <v-container>
              <v-layout row xs12 grid-list-md>
                  <v-flex xs4>
                  <h2>Paises</h2>
                  <v-btn id="btnAgregarPais" v-on:click="mostrar_dialogo_pais=true" ml5 mr0>Agregar</v-btn>
                  <v-dialog v-model="mostrar_dialogo_pais" id="dialogo_pais">
                      <v-card>
                          <v-card-title>Agregar País</v-card-title>
                          <v-card-text>
                      <v-form>
                          <v-text-field v-model="nuevo_pais.code" label="Código"></v-text-field>
                          <v-text-field v-model="nuevo_pais.name" label="Nombre"></v-text-field>
                          <v-text-field v-model="nuevo_pais.surfacearea" label="Superficie"></v-text-field>
                          <v-select :items="continentes" single-line></v-select>
                          <v-btn>Guardar</v-btn>
                      </v-form>
                  </v-card-text>
                  </v-card>
                  </v-dialog>
                  <v-list dense>
                      <template v-for="p in lista_paises">
                          <v-list-tile :key="p.code">{{ p.name }}</v-list-tile>
                          <v-divider/>
                      </template>
                  </v-list>
                  </v-flex>
                  <v-flex xs4 offset-xs1>
                      <h2>Ciudades</h2>
                      <v-text-field id="country_s" label="Nombre" v-on:keyup="buscarCiudades" v-model="country_sstr"></v-text-field>
                      <v-list dense>
                          <template v-for="c in lista_ciudades" >
                              <v-list-tile :key="c.id">{{ c.name }}</v-list-tile>
                              <v-divider/>
                          </template>
                      </v-list>
                  </v-flex>
                </v-layout>
          </v-container>
      </v-content>
  </v-app>
</template>

<script>
import axios from 'axios';

export default {
  name: 'App',
  data () {
      return {
          lista_paises: [],
          lista_ciudades: [],
          country_sstr: "",
          mostrar_dialogo_pais: false,
          nuevo_pais: {},
          continentes: ["Africa", "Asia", "Europe", "North America", "Oceania", "South America"]
      }
  },
  methods: {
      cargarPaises: function() {
          console.log("cargarPaises");
          axios.get('http://localhost:8080/countries')
            .then(
                result => { this.lista_paises = result.data; },
                error => { console.log(error); }
            );
      },
      buscarCiudades: function() {
          console.log("buscarCiudades");
          if (this.country_sstr.length < 2) { return; }
          axios.get('http://localhost:8080/cities',
          { params: {name: this.country_sstr}}
          )
          .then(
              result => { this.lista_ciudades = result.data; },
              error => { console.log(error); }
          );
      }
  },
  beforeMount() {
      this.cargarPaises();
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#btnAgregarPais {
    margin-right: 0;
}
input {
    border: 1px gray solid;
}
#dialogo_pais {
    width: 50%;
    max-width: 50%;
}
</style>
